<div class="content" role="main">
    <h3 class="title" style="font-weight: bold;">¿QUIÉNES SOMOS?</h3>
    <p>Nuestra señora de los dolores fundación, es una entidad sin ánimo de lucro encargada de brindar y acompañar a
        integrar a
        todos los adultos mayores en condiciones vulnerables; promoviendo la protección de sus derechos, atendiendo
        sus
        necesidades de acuerdo a condiciones físicas, sociales o económicas.</p>
    <p>La sensibilización y la concienciación de la importancia de ver nuestros adultos mayores como parte
        fundamental y
        natural de nuestra sociedad, donde nacemos, nos desarrollamos y envejecemos. buscando mejorar y honrar el
        atardecer de
        sus vidas.</p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">OBJETIVO GENERAL</h3>
    <p>Brindar cuidado y acompañamiento al adulto mayor en condiciones de desamparo u otras
        desavenencias que puedan afectar su calidad de vida, ofreciendo un lugar donde además de
        cuidar de su salud, estos puedan desarrollar diferentes actividades de tal modo que se
        sientan útiles para la sociedad.</p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">OBJETIVOS ESPECÍFICOS</h3>
    <ul>
        <li>Fomentar el desarrollo de planes y programas para la tercera edad, desarrollando
            actividades laborales y de esparcimiento que logre su inclusión.</li>
        <li>Diseñar planes de atención en salud para la tercera edad, brindando
            acompañamiento constante y que de esta manera sirvan de base para el desarrollo de
            políticas públicas para este sector de la sociedad.</li>
        <li>Llevar a este sector de la sociedad a sus raíces, ofreciendo un lugar campestre donde
            puedan esparcirse y respirar un aire mas puro, y que estos puedan de alguna manera
            recordar los buenos momentos de su juventud.</li>
    </ul>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">MISIÓN</h3>
    <p>
        Nuestra Señora de los Dolores Fundación, es una entidad sin ánimo de lucro, que busca
        mejorar las condiciones de vida del adulto mayor en condiciones de vulnerabilidad,
        atendiendo necesidades específicas de esta población brindando acompañamiento cercano a
        su salud física, mental y espiritual, dando apoyo asistencial y de bienestar común, como un
        servicio social y de beneficencia, haciendo de esta manera que se logre la inclusión de este
        sector a la sociedad.
    </p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">VISIÓN</h3>
    <p>
        Para el año 2025 Nuestra Señora de los Dolores Fundación, será un centro geriátrico
        reconocido a nivel departamental y nacional, siendo un modelo ejemplar por sus
        innovadoras políticas de funcionamiento y por el sublime trato al adulto mayor, cumpliendo
        con los mas altos estándares de excelencia en esta materia, dando un gran beneficio de la
        sociedad.
    </p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">VALORES</h3>
    <img src="assets/images/valores.svg" class="d-block w-100" alt="...">
    <img src="assets/images/background.svg" class="image-background" alt="">
</div>