<div class="content" role="main">
    <h3 class="title" style="font-weight: bold;">{{'quienesSomos' | translate }}</h3>
    <p>{{'quienesSomosText1' | translate }}</p>
    <p>{{'quienesSomosText2' | translate }}</p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">{{'objetivoGeneral' | translate }}</h3>
    <p>{{'objetivoGeneralText' | translate }}</p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">{{'objetivoEspecifico' | translate }}</h3>
    <ul>
        <li>{{'objetivoEspecifico1' | translate }}</li>
        <li>{{'objetivoEspecifico2' | translate }}</li>
        <li>{{'objetivoEspecifico3' | translate }}</li>
    </ul>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">{{'mision' | translate }}</h3>
    <p>
        {{'misionText' | translate }}
    </p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">{{'vision' | translate }}</h3>
    <p>
        {{'visionText' | translate }}
    </p>
    <p></p>
    <p></p>
    <h3 class="title" style="font-weight: bold;">{{'valores' | translate }}</h3>
    <img src="assets/images/{{'imageValores' | translate }}" class="d-block w-100" alt="...">
    <img src="assets/images/background.svg" class="image-background" alt="">
</div>