<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- CONTACT SECTION -->
<section id="contact" class="parallax-section">
    <div class="container">
        <div class="row">



            <div class="col-md-5 col-sm-8">
                <!-- CONTACT INFO -->
                <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
                    <div class="section-title">
                        <h2>Contáctenos</h2>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p><i class="fa fa-comment"></i>nsdoloresfundacion@gmail.com
                    </p>
                    <p><i class="fa fa-map-marker"></i>Calle 30# 31 - 75, Marinilla, Antioquia</p>
                    <p><i class="fa fa-whatsapp"></i>3208980918</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div class="section-title">
                        <h3>Redes Sociales</h3>
                    </div>
                    <p><i class="fa fa-instagram"></i><a href="https://www.instagram.com/nsdfunda/">Instagram</a></p>
                    <p><i class="fa fa-facebook"></i><a href="https://www.instagram.com/nsdfunda/">Facebook</a></p>
                </div>
            </div>

        </div>
    </div>
</section>