<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/slide2.svg" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
            <h3>Nuestra Señora de los Dolores Fundación</h3>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/slide3.svg" alt="Angular Carousel 2">
        </div>
        <div class="carousel-caption">
            <h3>Una historia que contar</h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ver</button>
        </div>
    </ng-template>
</ngb-carousel>

<div class="content" role="main">


    <!-- Links -->

    <!-- Footer -->

    <img src="assets/images/background2.svg" class="image-background" alt="">

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historia de la fundación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cuando DIOS tiene un propósito se vale de mentes brillantes y corazones dispuestos a luchar
                con fe, Es así como un día el espíritu de DIOS tomo EL sueño de una niña humilde que sufría
                hambre y frio. Ella llevaba el dolor de no tener a su madre y en medio de su rebeldía sentía
                unas ganas enormes de servir; brotando desde el fondo de su corazón el más bello deseo de
                crear una fundación donde los pobres tuvieran techo y comida.
                Los años seguían pasando y ese deseo parecía esfumarse, más en el espíritu de DIOS
                permanecía latente ese hermoso sueño. Cuatro décadas después, DIOS hizo presencia en un
                pueblo llamado plaza bonita, donde solo había maldad rencor y miedo, los bebes eran comida
                para los cerdos, parecía que DIOS había desaparecido de ese lugar. Entre sus habitantes solo se
                murmuraba de una maldición que emanaba escasez y penumbras, pero el amor de nuestro
                padre celestial es incalculable, como un león hace rugir su gran poder Y eligió una familia como
                instrumento. Ellos Estuvieron orando día y noche en una iglesia de aquel pueblo, rompiendo
                así cadenas que alguna vez los ataron a todos; sumidos en la ignorancia el temor y la poca fe.
                Más a cambio, esta familia fue calumniada, sacadas de la iglesia sin compasión. Solo uno de
                sus sacerdotes les creyó y les dio la oración de la sangre de cristo y les dijo que tuvieran fe
                que EL los cubriría con su misericordiosa sangre. Esa noche triste y desolada aquella familia
                lloraba angustiada pero el espíritu santo se manifestó en otra niña, dejando un bello mensaje
                en medio de tanta confusión, regalándoles una hermosa profecía;
                OH PEQUEÑOS MIOS, CUAN GRANDE DOLOR HABÉIS PASADO, MAS NO AVERGONCÉIS PUES
                POR MI CAUSA SERÁN LLAMADOS LOCOS, MAS MIS PROPÓSITOS SERÁN MAS SABIOS; NO
                SIENTAN MIEDO, TODO ESTARÁ BIEN Y ASI ES MI VOLUNTAD. A USTEDES LOS ELEGI Y HARÁN
                UNA FUNDACIÓN, YO PONDRÉ TODOS LOS MEDIOS Y ESE DIA ESTARE AHI, PORQUE MI
                AMOR ES ETERNO Y MIS OBRAS INFINITAS….
                Estaban muy aturdidos, no entendían nada pero tenían mucha fe. Se derramaron muchas
                lágrimas, fue un dolor inmenso pero al final todo tenía un sentido y a pesar de no saber cómo
                ni cuándo, DIOS pondría todo en el camino para hacer su obra. 20 años pasaron y llego la
                noticia de que la maldición se había roto. El pueblo prosperó y aquella familia es recordada
                con amor hasta el día de hoy. PLAZA BONITA los sigue esperando, porque aquella noche
                trajeron a un DIOS que lo habían perdido y que ahora brilla en todo su esplendor.
                Las voluntad de DIOS es perfecta y 6 décadas han pasado, pero él nunca rompe sus
                promesas…. Aquella niña hoy cumple su sueño donando el terreno para la primera piedra, la
                segunda niña es la que cuenta esta historia porque la vivió… LA familia hoy en su obediencia
                abre el camino con donadores y una entrega total porque el que vive en espíritu vive en la
                gloria de DIOS que es bondad infinita. Hoy te llamamos oh espíritu santo para darte gracias,
                has cumplido tu promesa, hoy vivimos tu primera piedra….
                Te lo presentamos: centro de bienestar para el adulto mayor, NUESTRA SEÑORA DE LOS
                DOLORES FUNDACION, donde son 6 décadas que forman 60 años la edad de un abuelo que
                padece hambre, frio y no tiene un hogar.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>